div {
    display: block;
}
body {
    font-family: fantasy;
    text-rendering: optimizeLegibility;
/*
    -webkit-font-smoothing: antialiased;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga","dlig";
    -webkit-font-feature-settings: "liga","dlig";
    -o-font-feature-settings: "liga","dlig";
    font-feature-settings:"liga","dlig";
*/
}


header{
    display: block;
}
.header{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    padding: 0 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pre-image{
    height:300px;
    position:relative;
    overflow:hidden;
    background-color:#fff;
}

.header .main-image{
    width:240px;
    height:240px;
    position: absolute;
    top:-176px;
    right:50%;
    margin-right: -120px;
    background-size: cover;
    border-radius: 50%;
    z-index: 99;
    text-indent: -9999px;
    border: 3px solid #fff;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);   
}

h1 {
    display: block;
    font-size:2em;
    margin-block: 0.67em;
    margin-inline:0px;
    font-weight:bold;  
}

.header .header1{
    margin:0;
    padding:84px 16px 8px;
    font-size:50px;
    text-align:center;
    font-weight:700;
    letter-spacing: -2px;
    outline:0;
    line-height:50px;
    word-break:break-word;
    color:#333;
}

.header .links{
    margin: 0 0 50px;
    text-align: center;
    color: #ccc;
}

